@tailwind base;
@tailwind components;
@tailwind utilities;

.chakra-button {
  @apply bg-blue-900 hover:bg-blue-800 text-white max-w-max text-center;
}

h1 {
  @apply text-2xl font-bold mb-4;
}

select,
input {
  font-size: 12px;
}

h2 {
  @apply text-xl font-bold mb-3;
}

.list-main {
  animation: Start ease;
  animation-duration: 0.5s;
}

@keyframes Start {
  0% {
    transform: scale(3);
    transform: rotate(50deg);
    filter: blur(100);
  }

  80% {
    transform: scale(1);
    transform: rotate(0deg);
    filter: blur(10);
  }

  100% {
    filter: blur(0);
  }
}
